<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login form</title>
</head>
<body>
<div>
    <form name="form" th:action="@{/api/auth/restore}" method="post">
        <fieldset>
            <legend>ВВедите email</legend>
            <div th:if="${param.error}" class="alert alert-error">
                Неправильные данные.
            </div>
            <label for="user">Email</label>
            <input type="text" id="user" name="e_mail"/>
            <div class="form-actions">
                <button type="submit" class="btn">Отправить</button>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>